/* Estilos para la barra de navegación */
#navbar-example2 {
    background-color: #f8f9fa; /* Color de fondo */
    padding: 1rem; /* Espaciado interno */
    border-bottom: 1px solid #dee2e6; /* Borde inferior */
}

/* Estilos para el enlace de la marca */
.navbar-brand {
    color: #007bff; /* Color del texto */
    font-weight: bold; /* Negrita */
}

/* Estilos para los elementos de la lista */
.nav-pills .nav-item {
    margin-right: 1rem; /* Espaciado entre elementos */
}

/* Estilos para los enlaces de la lista */
.nav-pills .nav-link {
    color: #007bff; /* Color del texto */
    font-weight: bold; /* Negrita */
}

/* Estilos para el enlace activo */
.nav-pills .nav-item .active {
    color: #fff; /* Color del texto activo */
    background-color: #007bff; /* Color de fondo activo */
}

/* Cuerpo del index */
.body {
    background-color:#8b0000;
}

/* Go Top */

.go-top-container{
    position: fixed; /* Posicion del boton */
    bottom: 4rem; 
    right: 4rem; 
    width: 6.6rem; /* Anchura del boton */
    height: 6.6rem; /* Altura del boton */
    z-index: -1; /* Tiempo de duracion del boton */
}

.go-top-button{
    width: 0rem;
    height: 0rem;
    background: #2071b7;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.go-top-button i{
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .go-top-button{
    animation: popup .3s ease-in-out;
    width: 6.6rem;
    height: 6.6rem;
    z-index: 11;
}

.show i{
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        width: 6.6rem;
        height: 6.6rem;
    }
}